.DS_Store
node_modules/
.pnpm-store/
dist/
dist-mv3/
dist-chrome/
dist-firefox/
_mv3_stage/
usable_function/
app/public/_locales/

.env.local
.env.*.local

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*.crx
*.pem
*.zip
releases/
